<h6 class="featured-incidents__heading">Fires we're following</h6>

{{#each fires as |fire|}}
  <div class="featured-incident-card">
    {{!-- {{c-figure src=fire.thumbnail class="featured-incident-card__thumbnail"}} --}}
    {{#fire-map class="featured-incident-card__thumbnail" lat=fire.lat lng=fire.long zoom=14}}
      {{tile-layer url=tilesEndpoint reuseTiles=true detectRetina=true attribution="© <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> <strong><a href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map</a></strong>"}}
      {{#if fire.perimeter}}
        {{#time-series geoJSON=model.fire.perimeter fill=true color='#F87E21' fillColor='#FF6B00' weight=0 fillOpacity=1 transitionDuration=2000}}
          {{#if fire.shouldPlaybackPerimeter}}
            {{time-series-control}}
          {{/if}}
        {{/time-series}}
      {{/if}}
      {{#marker-layer location=fire.latLong icon=fire.markerIcon}}
      {{/marker-layer}}
    {{/fire-map}}

    <div class="featured-incident-card__description">
      <a href="/{{fire.slug}}" class="featured-incident-card__heading">{{fire.name}}</a>
      <h6 class="featured-incident-card__county">{{fire.countyName}}</h6>
      <span class="featured-incident-card__started featured-incident-card__stat">
        <span class="featured-incident-card__stat-title">Started:</span> {{moment-format fire.startedAt 'MMM DD, YYYY'}}
      </span>
      {{#if fire.acres}}
        <span class="featured-incident-card__acres featured-incident-card__stat">
          <span class="featured-incident-card__stat-title">Acres Burned:</span> {{fire.acres}}
        </span>
      {{/if}}
      {{#if fire.containment}}
        <span class="featured-incident-card__containment featured-incident-card__stat">
          <span class="featured-incident-card__stat-title">Containment:</span> {{fire.containment}}
        </span>
      {{/if}}
      <span class="featured-incident-card__location featured-incident-card__stat">
        {{fire.locationDescription}}
      </span>
    </div>
  </div>

{{/each}}

