<h6 class="featured-incidents__heading">Fires we're following</h6>

{{#each fires as |fire|}}
  <div class="featured-incident-card">
    {{c-figure src=fire.thumbnail class="featured-incident-card__thumbnail"}}
    <div class="featured-incident-card__description">
      <a href="/{{fire.slug}}" class="featured-incident-card__heading">{{fire.name}}</a>
      <h6 class="featured-incident-card__county">{{fire.countyName}}</h6>
      <span class="featured-incident-card__started featured-incident-card__stat">
        <span class="featured-incident-card__stat-title">Started:</span> {{moment-format fire.startedAt 'MMM DD, YYYY'}}
      </span>
      {{#if fire.acres}}
        <span class="featured-incident-card__acres featured-incident-card__stat">
          <span class="featured-incident-card__stat-title">Acres Burned:</span> {{fire.acres}}
        </span>
      {{/if}}
      {{#if fire.containment}}
        <span class="featured-incident-card__containment featured-incident-card__stat">
          <span class="featured-incident-card__stat-title">Containment:</span> {{fire.containment}}
        </span>
      {{/if}}
      <span class="featured-incident-card__location featured-incident-card__stat">
        Hwy 80 And State Boundary, 12 Miles Northeast of Truckee
      </span>
    </div>
  </div>

{{/each}}

