<h6 class="featured-incidents__heading">Fires we're following</h6>

{{#each fires as |fire|}}
  <div class="featured-incident-card">
    {{#link-to 'fire' fire.slug}}
      {{!-- {{c-figure src=fire.thumbnail class="featured-incident-card__thumbnail"}} --}}
      {{#if fire.isLoaded}}
        {{#fire-map class="featured-incident-card__thumbnail" lat=fire.lat lng=fire.long zoom=7 thumbnailMode=true attributionControl=false}}
          {{map-tiles attribution=false}}
          {{#if fire.perimeter.content}}
            {{#time-series geoJSON=fire.perimeter.content transitionDuration=2000}}
            {{/time-series}}
          {{/if}}
          {{#link-to 'fire' fire.slug}}
            {{marker-layer location=fire.latLong icon=fire.markerIcon interactive=false}}
          {{/link-to}}
        {{/fire-map}}
      {{else}}
        <div class="featured-incident-card__thumbnail"></div>
      {{/if}}
    {{/link-to}}

    <div class="featured-incident-card__description">
      {{#link-to 'fire' fire.slug class="featured-incident-card__heading"}}{{fire.name}}{{/link-to}}
      {{!-- <a href="/{{fire.slug}}" class="featured-incident-card__heading">{{fire.name}}</a> --}}
      <h6 class="featured-incident-card__county">{{fire.countyName}}</h6>
      <span class="featured-incident-card__started featured-incident-card__stat">
        <span class="featured-incident-card__stat-title">Started:</span> {{moment-format fire.startedAt 'MMM DD, YYYY'}}
      </span>
      {{#if fire.acres}}
        <span class="featured-incident-card__acres featured-incident-card__stat">
          <span class="featured-incident-card__stat-title">Acres Burned:</span> {{comma-separate fire.acres}}
        </span>
      {{/if}}
      {{#if fire.containment}}
        <span class="featured-incident-card__containment featured-incident-card__stat">
          <span class="featured-incident-card__stat-title">Containment:</span> {{fire.containment}}
        </span>
      {{/if}}
      <span class="featured-incident-card__location featured-incident-card__stat">
        {{fire.locationDescription}}
      </span>
    </div>
  </div>

{{/each}}

