<div class="fire-header__content">
  <div class="fire-header__basic-info">
    <h2 class="fire-header__heading b-heading b-heading--h2 b-text--color-primary b-heading--extrabold b-heading--serif">{{fire.name}}</h2>
    <ul class="fire-header__basic-info__data b-text--uppercase">
      <li class="fire-header__basic-info__data-item">
        <span class="b-text--bold">{{fire.county}}</span> 
      </li>
      <li class="fire-header__basic-info__pipe">
        |
      </li>
      <li class="fire-header__basic-info__data-item">
        <span class="b-text--bold">Started:</span> Jul 10, 2017
      </li>
      <li class="fire-header__basic-info__pipe">
        |
      </li>
      <li class="fire-header__basic-info__data-item">
        <span class="b-text--bold">Last Updated:</span> TUESDAY, AUGUST 1, 2017 7:11 A.M. PDT
      </li>
    </ul>
  </div>
  <div class="fire-header__stats">
    <div class="fire-header__stats__item">
      <h6 class="fire-header__stats__item-heading b-heading b-heading--h6 b-heading--medium b-text--uppercase b-text--color-gray">Burning For</h6>
      <div class="fire-header__stats__item-icon"></div>
      <h3 class="fire-header__stats__stat b-heading b-heading--h3 b-heading--serif">12 days</h3>
    </div>
    <div class="fire-header__stats__pipe"></div>
    <div class="fire-header__stats__item">
      <h6 class="fire-header__stats__item-heading b-heading b-heading--h6 b-heading--medium b-text--uppercase b-text--color-gray">Containment</h6>
      <div class="fire-header__stats__item-icon"></div>
      <h3 class="fire-header__stats__stat b-heading b-heading--h3 b-heading--serif">{{fire.containment}}</h3>
    </div>
    <div class="fire-header__stats__pipe"></div>
    <div class="fire-header__stats__item">
      <h6 class="fire-header__stats__item-heading b-heading b-heading--h6 b-heading--medium b-text--uppercase b-text--color-gray">Acres Burned</h6>
      <div class="fire-header__stats__item-icon"></div>
      <h3 class="fire-header__stats__stat b-heading b-heading--h3 b-heading--serif">{{fire.acres}}</h3>
    </div>
  </div>
  {{share-icons extra-classes="fire-header__share-icons share-icons--sm share-icons--horiz share-icons--darker"}}
</div>

