<div class="fire-header__content">
  <div class="fire-header__basic-info">
    <h2 class="fire-header__heading">{{fire.name}}</h2>
    <ul class="fire-header__basic-info__data">
      <li class="fire-header__basic-info__data-item">
        <span class="fire-header__basic-info__data-name">{{fire.countyName}}</span> 
      </li>
      <li class="fire-header__basic-info__pipe">
        |
      </li>
      <li class="fire-header__basic-info__data-item">
        <span class="fire-header__basic-info__data-name">Started:</span> {{moment-format fire.startedAt 'MMM DD, YYYY'}}
      </li>
      <li class="fire-header__basic-info__pipe">
        |
      </li>
      <li class="fire-header__basic-info__data-item">
        <span class="fire-header__basic-info__data-name">Last Updated:</span> {{moment-format fire.updatedAt 'dddd, MMMM DD, YYYY h:mm A'}}
      </li>
    </ul>
  </div>
  <div class="fire-header__stats">
    <div class="fire-header__stats__item">
      <h6 class="fire-header__stats__item-heading">Burning For</h6>
      <img class="fire-header__stats__item-icon" src="/images/icons/calendar.svg">
      <h3 class="fire-header__stats__stat">{{fire.duration}}</h3>
    </div>
    <div class="fire-header__stats__pipe"></div>
    <div class="fire-header__stats__item">
      <h6 class="fire-header__stats__item-heading">Containment</h6>
      {{containment-graph containment=fire.containment}}
      <h3 class="fire-header__stats__stat">{{fire.containment}}</h3>
    </div>
    <div class="fire-header__stats__pipe"></div>
    <div class="fire-header__stats__item">
      <h6 class="fire-header__stats__item-heading">Acres Burned</h6>
      <img class="fire-header__stats__item-icon" src="/images/icons/map.svg">
      <h3 class="fire-header__stats__stat">{{fire.acreage}}</h3>
    </div>
  </div>
  {{share-icons extra-classes="fire-header__share-icons share-icons--sm share-icons--horiz share-icons--darker"}}
</div>

