<div class="fire-header__content">
  <div class="fire-header__basic-info">
    <h2 class="fire-header__heading">{{fire.name}}</h2>
    <ul class="fire-header__basic-info__data">
      <li class="fire-header__basic-info__data-item">
        <span class="fire-header__basic-info__data-name">{{fire.countyName}}</span> 
      </li>
      <li class="fire-header__basic-info__pipe">
        |
      </li>
      <li class="fire-header__basic-info__data-item">
        <span class="fire-header__basic-info__data-name">Started:</span> {{moment-format fire.startedAt 'MMM DD, YYYY'}}
      </li>
      <li class="fire-header__basic-info__pipe">
        |
      </li>
      <li class="fire-header__basic-info__data-item">
        <span class="fire-header__basic-info__data-name">Last Updated:</span> {{moment-format fire.updatedAt 'dddd, MMMM DD, YYYY h:mm A'}}
      </li>
    </ul>
  </div>
  <div class="fire-header__stats">
    {{#if fire.wasExtinguished}}
      {{#if fire.shouldDisplayBurnedFor}}
        <div class="fire-header__stats__item">
          <h6 class="fire-header__stats__item-heading">Burned For</h6>
          <div class="fire-header__stats__item-stat">
            <img class="fire-header__stats__item-icon" src="/images/icons/calendar.svg">
            <h3 class="fire-header__stats__stat">{{fire.burnedFor}}</h3>
          </div>
        </div>
        <div class="fire-header__stats__pipe"></div>
      {{/if}}
    {{else}}
      {{#if fire.startedAt}}
        <div class="fire-header__stats__item">
          <h6 class="fire-header__stats__item-heading">Burning For</h6>
          <div class="fire-header__stats__item-stat">
            <img class="fire-header__stats__item-icon" src="/images/icons/calendar.svg">
            <h3 class="fire-header__stats__stat">{{fire.duration}}</h3>
          </div>
        </div>
        <div class="fire-header__stats__pipe"></div>
      {{/if}}
    {{/if}}

{{!--     {{#if fire.startedAt}}
      <div class="fire-header__stats__item">
        {{#if fire.extinguishedAt}}
          <h6 class="fire-header__stats__item-heading">Burned For</h6>
        {{else}}
          <h6 class="fire-header__stats__item-heading">Burning For</h6>
        {{/if}}
        <div class="fire-header__stats__item-stat">
          <img class="fire-header__stats__item-icon" src="/images/icons/calendar.svg">
          {{#if fire.extinguishedAt}}
            <h3 class="fire-header__stats__stat">{{fire.burnedFor}}</h3>
          {{else}}
            <h3 class="fire-header__stats__stat">{{fire.duration}}</h3>
          {{/if}}
        </div>
      </div>
      <div class="fire-header__stats__pipe"></div>
    {{/if}} --}}
    <div class="fire-header__stats__item">
      <h6 class="fire-header__stats__item-heading">Containment</h6>
      <div class="fire-header__stats__item-stat">
        {{containment-graph containment=fire.containment}}
        <h3 class="fire-header__stats__stat">{{fire.containment}}</h3>
      </div>
    </div>
    {{#if fire.acres}}
      <div class="fire-header__stats__pipe"></div>
      <div class="fire-header__stats__item">
        <h6 class="fire-header__stats__item-heading">Acres Burned</h6>
        <div class="fire-header__stats__item-stat">
          <img class="fire-header__stats__item-icon" src="/images/icons/map.svg">
          <h3 class="fire-header__stats__stat">{{fire.acreage}}</h3>
        </div>
      </div>
    {{/if}}
  </div>
  {{share-icons fire=fire extra-classes="fire-header__share-icons share-icons--sm share-icons--horiz share-icons--darker"}}
</div>

