<h6 class="incidents-grid__heading">{{heading}}</h6>

{{#each fires as |fire|}}

  <div class="incidents-grid__card">
    {{#link-to 'fire' fire.slug class="incidents-grid__card__heading"}}
      <span class="incidents-grid__card__heading-text">{{fire.name}}</span>
    {{/link-to}}
    <ul class="incidents-grid__card__list">
      {{#if fire.startedAt}}
        <li class="incidents-grid__card__item" data-property-name="startedAt">
          {{moment-format fire.startedAt 'MMM DD, YYYY'}}
        </li>
      {{/if}}
      {{#if fire.countyName}}
        <li class="incidents-grid__card__item" data-property-name="countyName">{{fire.countyName}}</li>
      {{/if}}
      {{#if fire.acreage}}
        <li class="incidents-grid__card__item" data-property-name="acreage">{{comma-separate fire.acreage}} Acres</li>
      {{/if}}
      {{#if fire.containment}}
        <li class="incidents-grid__card__item" data-property-name="containment">{{fire.containment}} contained</li>
      {{/if}}
    </ul>
  </div>

{{/each}}

{{#if linkToArchive}}
  <div class="incidents-grid__link-card">
    {{#link-to 'archive' class="incidents-grid__card__heading"}}
      <span class="incidents-grid__card__heading-text">View the archive ></span>
    {{/link-to}}
  </div>
{{/if}}

<div class="incidents-grid__spacer">
</div>

<div class="incidents-grid__spacer">
</div>

<div class="incidents-grid__spacer">
</div>






