<h6 class="incidents-grid__heading b-heading b-heading--h6 b-heading--medium b-text--uppercase b-text--color-gray">{{heading}}</h6>

{{#each fires as |fire|}}

  <div class="incidents-grid__card">
    {{#link-to 'fire' fire.slug class="incidents-grid__card__heading b-heading b-heading--h6 b-heading--serif b-text--color-primary"}}
      <span class="incidents-grid__card__heading-text">{{fire.name}}</span>
    {{/link-to}}
    <ul class="incidents-grid__card__list c-list b-text b-text--small">
      <li class="incidents-grid__card__item">
        {{moment-format fire.startedAt 'MMM DD, YYYY'}}
      </li>
      {{#if fire.county}}
        <li class="incidents-grid__card__item">{{fire.county}}</li>
      {{/if}}
      {{#if fire.acres}}
        <li class="incidents-grid__card__item">{{fire.acres}} Acres</li>
      {{/if}}
      {{#if fire.containment}}
        <li class="incidents-grid__card__item">{{fire.containment}} contained</li>
      {{/if}}
    </ul>
  </div>

{{/each}}

{{#if linkToArchive}}
  <div class="incidents-grid__link-card">
    {{#link-to 'archive' class="incidents-grid__card__heading b-heading b-heading--h6 b-heading--serif b-text--color-primary"}}
      View the archive >
    {{/link-to}}
  </div>
{{/if}}

<div class="incidents-grid__spacer">
</div>

<div class="incidents-grid__spacer">
</div>

<div class="incidents-grid__spacer">
</div>






