<div class="tweets-slider__header">
<h2 class="tweets-slider__header__heading">On the scene</h2>
  <div class="tweets-slider__header__description">
    <div class="tweets-slider__header__description__text">
      Are you near the Whittier Fire?  Get updates from fire and rescue agencies, post photos, and videos and see up-to-the-minute coverage on Twitter with #WhittierFire
    </div>
    <div class="tweets-slider__header__description__button">
      <span>See more on Twitter</span>
    </div>
  </div>
</div>
<div class="tweets-slider__control tweets-slider__control-left" {{action 'slideLeft'}}>
  <svg width="31px" height="16px" viewBox="0 0 31 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Fire" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-64.000000, -1894.000000)" id="Group-11-Copy-3">
              <g transform="translate(79.500000, 1902.500000) rotate(-180.000000) translate(-79.500000, -1902.500000) translate(57.000000, 1880.000000)">
                  <g id="Group-9" transform="translate(7.058824, 8.529412)">
                      <g id="Filled_Icon" transform="translate(0.000000, 6.500000)" fill-rule="nonzero" fill="#FFFFFF">
                          <path d="M29.7638092,6.71803846 L23.4881636,0.371884615 C22.9973099,-0.124384615 22.2039096,-0.124384615 21.713056,0.371884615 C21.2222023,0.868153846 21.2222023,1.67030769 21.713056,2.16657692 L25.847023,6.34615385 L1.25914634,6.34615385 C0.56492109,6.34615385 0.0037661406,6.91476923 0.0037661406,7.61538462 C0.0037661406,8.31726923 0.56492109,8.88461538 1.25914634,8.88461538 L25.847023,8.88461538 L21.713056,13.0641923 C21.2222023,13.5604615 21.2222023,14.3626154 21.713056,14.8588846 C22.2039096,15.3551538 22.9973099,15.3551538 23.4881636,14.8588846 L29.7638092,8.514 C30.2546628,8.01773077 30.2483859,7.20796154 29.7638092,6.71803846 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
</div>
<div class="tweets-slider__control tweets-slider__control-right" {{action 'slideRight'}}>
  <svg width="31px" height="16px" viewBox="0 0 31 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Fire" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-1345.000000, -1895.000000)" id="Group-11-Copy-2">
              <g transform="translate(1360.500000, 1902.500000) rotate(-360.000000) translate(-1360.500000, -1902.500000) translate(1338.000000, 1880.000000)">
                  <g id="Group-9" transform="translate(7.058824, 8.529412)">
                      <g id="Filled_Icon" transform="translate(0.000000, 6.500000)" fill-rule="nonzero" fill="#FFFFFF">
                          <path d="M29.7638092,6.71803846 L23.4881636,0.371884615 C22.9973099,-0.124384615 22.2039096,-0.124384615 21.713056,0.371884615 C21.2222023,0.868153846 21.2222023,1.67030769 21.713056,2.16657692 L25.847023,6.34615385 L1.25914634,6.34615385 C0.56492109,6.34615385 0.0037661406,6.91476923 0.0037661406,7.61538462 C0.0037661406,8.31726923 0.56492109,8.88461538 1.25914634,8.88461538 L25.847023,8.88461538 L21.713056,13.0641923 C21.2222023,13.5604615 21.2222023,14.3626154 21.713056,14.8588846 C22.2039096,15.3551538 22.9973099,15.3551538 23.4881636,14.8588846 L29.7638092,8.514 C30.2546628,8.01773077 30.2483859,7.20796154 29.7638092,6.71803846 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
</div>
<div class="tweets-slider__cards">
  {{#each tweets as |tweet index|}}
    <div class="tweets-slider__cards__card" {{action 'selectTweet' index}}>
      <figure class="tweets-slider__cards__card__figure">
        <img class="c-figure__img" src="{{tweet.photos.[0].media_url_https}}" style="background-image: url('{{tweet.photos.[0].media_url_https}}')">
      </figure>
      <div class="tweets-slider__cards__card__tweet">
        <p class="tweets-slider__cards__card__text">
          {{tweet.text}}
        </p>
        <div class="tweets-slider__cards__card__emdash">&nbsp;–</div>
        <div class="tweets-slider__cards__card__attribution">
          @{{tweet.userName}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
<div class="tweets-slider__selector">
  {{#each tweets as |tweet index|}}
    <div class="tweets-slider__selector__dot" selected={{eq selected index}} {{action 'selectTweet' index}}></div>
  {{/each}}
</div>

