{{masthead-component id="l-masthead"}}
<main id="l-content">
  {{spread-icons id="l-content__spread-icons" article=model.article}}

  <h3 id="l-content__heading" class="content-heading">{{model.article.title}}</h3>

  {{#if model.article.leadAsset}}
    {{c-figure src=model.article.leadAsset.urls.full widescreen=true caption=model.article.leadAsset.caption attribution=model.article.leadAsset.owner id="l-content__figure"}}
  {{/if}}


  <hr id="l-content__rule" class="h-rule h-rule--primary">

  <div id="l-content__asides">
    <aside id="l-content__faq-list list-aside">
      <h4 class="list-aside__heading">Fire FAQs</h4>
      <ul class="list-aside__items">
        {{#each model.settings.faqs as |link|}}
          <li class="list-aside__item"><a class="list-aside__item-link" href="{{link.href}}">{{link.title}}</a></li>
        {{/each}}
      </ul>
    </aside>
    <aside id="l-content__resources-list list-aside">
      <h4 class="list-aside__heading">California fire resources</h4>
      <ul class="list-aside__items">
        {{#each model.settings.californiaFireResources as |link|}}
          <li class="list-aside__item"><a class="list-aside__item-link" href="{{link.href}}">{{link.title}}</a></li>
        {{/each}}
      </ul>
    </aside>
    <aside id="l-content__recent-fires-list recent-fires list-aside">
      <h4 class="recent-fires__heading list-aside__heading">Recent Fires</h4>
      <ul class="recent-fires__list c-list c-list--vert">
        {{#each model.recentFires as |fire|}}
          <li class="recent-fires__list__item">
            {{#link-to 'fire' fire.slug}}
              <h6 class="recent-fires__list__item__heading">{{fire.name}}</h6>
              <div class="recent-fires__list__item__stats">
                <span class="recent-fires__list__item__date">
                  {{moment-format fire.startedAt 'MMM DD, YYYY'}}
                </span>
                {{#if fire.acreage}}
                  <span class="recent-fires__list__item__pipe">
                    |
                  </span>
                  <span class="recent-fires__list__item__acres">
                    {{comma-separate fire.acreage}} acres
                  </span>
                {{/if}}
              </div>
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </aside>
  </div>

  
  <article id="l-content__article" class="content-article">
    {{{model.article.body}}}
  </article>


</main>

{{footer-component id="l-footer"}}


