{{embed-masthead id="l-embed__masthead"}}

<div id="l-embed">
  <div class="fire-embed">
    <div class="fire-embed__header t-dark">
      <div class="fire-embed__header__basic-info">
        <h2 class="fire-embed__header__heading">{{model.name}}</h2>
        <ul class="fire-embed__header__basic-info__data b-text--uppercase">
          <li class="fire-embed__header__basic-info__data-item">
            <span class="b-text--bold">{{model.county}} County</span>
          </li>
        </ul>
      </div>

      <div class="fire-embed__header__stats">


        {{#if model.wasExtinguished}}
          {{#if model.shouldDisplayBurnedFor}}
            <div class="fire-embed__header__stats__item">
              <h6 class="fire-embed__header__stats__item-heading">Burned For</h6>

                <img class="fire-embed__header__stats__item-icon" src="/images/icons/calendar.svg">
                <h3 class="fire-embed__header__stats__stat">{{model.burnedFor}} days</h3>

            </div>
            <div class="fire-embed__header__stats__pipe"></div>
          {{/if}}
        {{else}}
          {{#if model.shouldDisplayDuration}}
            <div class="fire-embed__header__stats__item">
              <h6 class="fire-embed__header__stats__item-heading">Burning For</h6>

                <img class="fire-embed__header__stats__item-icon" src="/images/icons/calendar.svg">
                <h3 class="fire-embed__header__stats__stat">{{model.duration}} days</h3>

            </div>
            <div class="fire-embed__header__stats__pipe"></div>
          {{/if}}
        {{/if}}
        <div class="fire-embed__header__stats__item">
          <h6 class="fire-embed__header__stats__item-heading">Containment</h6>
            {{containment-graph containment=model.containment}}
            <h3 class="fire-embed__header__stats__stat">{{model.containment}}</h3>

        </div>
        {{#if model.shouldDisplayAcres}}
          <div class="fire-embed__header__stats__pipe"></div>
          <div class="fire-embed__header__stats__item">
            <h6 class="fire-embed__header__stats__item-heading">Acres Burned</h6>
              <img class="fire-embed__header__stats__item-icon" src="/images/icons/map.svg">
              <h3 class="fire-embed__header__stats__stat">{{model.acreage}}</h3>
          </div>
        {{/if}}
      </div>
      <a href="#" class="fire-embed__header__foot">
        <img class="fire-embed__header__foot__img" src="/images/kpcc-logo-embed.svg">
      </a>
    </div>

    {{!-- {{c-figure class="fire-embed__map" four-by-three=true}} --}}

    {{#fire-map lat=model.lat lng=model.long zoom=14 class="fire-embed__map fire-embed__map--four-by-three" thumbnailMode=true}}
      {{tile-layer url="https://api.mapbox.com/styles/v1/kbriggs/cj8m2vtqn1j4w2rpmy9bi0ga2/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoia2JyaWdncyIsImEiOiJjajg2NHpxMmcwc2I4MzJwZGZyNTU2dTU2In0.sJblWZzx_-6PmOYVVjPfLQ" reuseTiles=true detectRetina=true attribution="© <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> <strong><a href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map</a></strong>"}}
      {{#if model.perimeter}}
        {{time-series geoJSON=model.perimeter transitionDuration=2000}}
      {{/if}}
      {{marker-layer location=model.latLong icon=model.markerIcon}}
    {{/fire-map}}


    <div class="fire-embed__content">
      <p class="fire-embed__content__body">
        {{model.computedDescription}}
      </p>
      <p class="fire-embed__content__link">
        <a href="#">See the full fire incident page &gt;</a>
      </p>
    </div>
  </div>
</div>

