{{embed-masthead id="l-embed__masthead"}}

<div id="l-embed">
  <div class="fire-embed">
    <div class="fire-embed__header t-dark">
      <div class="fire-embed__header__basic-info">
        <h2 class="fire-embed__header__heading">{{model.name}}</h2>
        <ul class="fire-embed__header__basic-info__data b-text--uppercase">
          <li class="fire-embed__header__basic-info__data-item">
            <span class="b-text--bold">{{model.county}} County</span>
          </li>
        </ul>
      </div>

      <div class="fire-embed__header__stats">
        {{#if model.wasExtinguished}}
          {{#if model.shouldDisplayBurnedFor}}
            <div class="fire-embed__header__stats__item">
              <h6 class="fire-embed__header__stats__item-heading">Burned For</h6>
              <img class="fire-embed__header__stats__item-icon" src="/images/icons/calendar.svg">
              <h3 class="fire-embed__header__stats__stat">{{model.burnedFor}} days</h3>
            </div>
            <div class="fire-embed__header__stats__pipe"></div>
          {{/if}}
        {{else}}
          {{#if model.shouldDisplayDuration}}
            <div class="fire-embed__header__stats__item">
              <h6 class="fire-embed__header__stats__item-heading">Burning For</h6>
              <img class="fire-embed__header__stats__item-icon" src="/images/icons/calendar.svg">
              <h3 class="fire-embed__header__stats__stat">{{model.duration}} days</h3>
            </div>
            <div class="fire-embed__header__stats__pipe"></div>
          {{/if}}
        {{/if}}
        <div class="fire-embed__header__stats__item">
          <h6 class="fire-embed__header__stats__item-heading">Containment</h6>
            {{containment-graph containment=model.containment}}
          <h3 class="fire-embed__header__stats__stat">{{model.containment}}</h3>
        </div>
        {{#if model.shouldDisplayAcres}}
          <div class="fire-embed__header__stats__pipe"></div>
          <div class="fire-embed__header__stats__item">
            <h6 class="fire-embed__header__stats__item-heading">Acres Burned</h6>
            <img class="fire-embed__header__stats__item-icon" src="/images/icons/map.svg">
            <h3 class="fire-embed__header__stats__stat">{{comma-separate model.acreage}}</h3>
          </div>
        {{/if}}
      </div>
      <a href="https://scpr.org/" class="fire-embed__header__foot" target="_blank">
        <span class="fire-embed__special-project">A special project from</span>
        <embed class="fire-embed__header__foot__img kpcc-laist-logos" src="/images/kpcc-laist-logo.svg"/>
      </a>
    </div>

    {{!-- {{c-figure class="fire-embed__map" four-by-three=true}} --}}

    {{#fire-map lat=model.lat lng=model.long zoom=14 class="fire-embed__map fire-embed__map--four-by-three" thumbnailMode=true}}
      {{map-tiles}}
      {{#if model.perimeter}}
        {{time-series geoJSON=model.perimeter transitionDuration=2000}}
      {{/if}}
      {{marker-layer location=model.latLong icon=model.markerIcon}}
    {{/fire-map}}


    <div class="fire-embed__content">
      <p class="fire-embed__content__body">
        {{model.computedDescription}}
      </p>
      <p class="fire-embed__content__link">
        <a href="/{{model.slug}}">See the full fire incident page &gt;</a>
      </p>
      <a href="https://scpr.org" class="fire-embed__footer__kpcc-laist-logo" target="_blank">
        <span class="fire-embed__footer__special-project">A special project from</span>
        <object class="fire-embed__footer__img--mobile kpcc-laist-logos" data="/images/kpcc-laist-logo-black.svg" type="image/svg+xml" />
      </a>
    </div>
  </div>
</div>

