{{masthead-component id="l-masthead" hasBorder=true}}
{{notification-component active=model.fire.isOutdated}}
<main id="l-fire">
  {{fire-header id="l-fire__header" fire=model.fire}}
  <div id="l-fire__primary-content">
    {{spread-icons id="l-fire__primary-content__spread-icons" fire=model.fire}}

    <div id="l-fire__map-with-description" class="map-with-description">

      {{#fire-map lat=model.fire.lat lng=model.fire.long zoom=14 id="l-fire__primary-content__map"}}

        {{map-tiles}}
        {{#if model.fire.perimeter}}
          {{#time-series geoJSON=model.fire.perimeter transitionDuration=2000}}
            {{#unless fastboot.isFastBoot}}
              {{#if model.fire.shouldPlaybackPerimeter}}
                {{time-series-control}}
              {{/if}}
            {{/unless}}
          {{/time-series}}
        {{/if}}
        {{#marker-layer location=model.fire.latLong icon=model.fire.markerIcon}}
          {{#popup-layer}}
            <div class="fire-map__popup">
              <h3 class="fire-map__popup-heading">{{model.fire.name}}</h3>
              <div class="fire-map__popup-description">
                {{#if model.fire.startedAt}}
                  <p>Started {{moment-format fire.startedAt 'MMM DD, YYYY'}}</p>
                {{/if}}
                {{#if model.fire.acres}}
                  <p>{{model.fire.acreage}} acres burned</p>
                {{/if}}
                {{#if model.fire.extinguishedAt}}
                  <p>Extinguished {{moment-format fire.extinguishedAt 'MMM DD, YYYY'}}</p>
                {{/if}}
              </div>
            </div>
          {{/popup-layer}}
        {{/marker-layer}}
      {{/fire-map}}
      
      <div id="l-fire__description" class="fire-description">
        {{model.fire.computedDescription}}
      </div>
    </div>

    <hr class="l-fire__hr h-rule" />

    <div id="l-fire__primary-content__important-facts" class="important-facts">
      <h4 class="important-facts__heading">I WANT TO KNOW</h4>
      <div class="important-facts__item">
        <h4 class="important-facts__item__heading">
          Do people near this fire need to evacuate?
        </h4>
        <div class="important-facts__item__status">
          {{#if model.fire.evacuations}}
            <div class="important-facts__item__status__yes important-facts__item__status__boolean"><span>YES</span></div>
            <div class="important-facts__item__status__description">
              Evacuation orders have been issued. <a class="important-facts__item__link" href="#additional-details__evacuations">Learn more</a>
            </div>
          {{else}}
            <div class="important-facts__item__status__no important-facts__item__status__boolean"><span>NO</span></div>
            <div class="important-facts__item__status__description">
              Evacuation orders have not been issued.
            </div>
          {{/if}}
        </div>
      </div>

      <div class="important-facts__item">
        <h4 class="important-facts__item__heading">
          Have any road closures been announced?
        </h4>
        <div class="important-facts__item__status">
          {{#if model.fire.roadClosures}}
            <div class="important-facts__item__status__yes important-facts__item__status__boolean"><span>YES</span></div>
            <div class="important-facts__item__status__description">
              Nearby roads have been closed. <a class="important-facts__item__link" href="#additional-details__road-closures">Learn more</a>
            </div>
          {{else}}
            <div class="important-facts__item__status__no important-facts__item__status__boolean"><span>NO</span></div>
            <div class="important-facts__item__status__description">
              No nearby roads are closed at this time.
            </div>
          {{/if}}
        </div>
      </div>

      {{air-quality-aside airQuality=model.fire.airQuality}}

    </div>
  </div>

  <hr class="l-fire__hr h-rule" />

  <div id="l-fire__i-have-questions" class="i-have-questions">
    <h4 class="i-have-questions__heading">I HAVE QUESTIONS</h4>
    <ul class="i-have-questions__links">
      {{#each model.settings.faqs as |faq|}}
        <li class="i-have-questions__links__link">
          <a href="{{faq.href}}" class="i-have-qestions__links__anchor">{{faq.title}}</a>
        </li>
      {{/each}}
    </ul>
  </div>

  {{#if model.fire.latestTweets}}

    <div class="pointy-hat pointy-hat--right t-dark"></div>
    {{tweets-slider id='l-fire__tweets' tweets=model.fire.latestTweets hashtag=model.fire.hashtag}}

  {{/if}}


  <div id="l-fire__additional-details" class="additional-details">
    <div class="additional-details__body">
      <h4 class="additional-details__heading">Additional Details</h4>

      <h6 class="additional-details__body__heading">DATA SOURCE</h6>
      <p class="additional-details__body__paragraph">
        {{#each model.fire.sources as |source|}}
          <a class="additional-details__source" href="{{source.href}}" target="_blank">{{source.title}}</a>
        {{else}}
          CalFire
        {{/each}}
      </p>

      {{#if model.fire.administrativeUnit}}
        <h6 class="additional-details__body__heading">ADMINISTRATIVE UNIT</h6>
        <p class="additional-details__body__paragraph">
          {{or-not-any model.fire.administrativeUnit}}
        </p>
      {{/if}}

      <h6 class="additional-details__body__heading">CAUSE</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.fire.cause 'Unknown'}}
      </p>

      {{#if model.fire.damageAssessment}}
        <h6 class="additional-details__body__heading">DAMAGE ASSESSMENT</h6>
        <p class="additional-details__body__paragraph">
          {{or-not-any model.fire.damageAssessment}}
        </p>
      {{/if}}

      <h6 class="additional-details__body__heading">STRUCTURES THREATENED</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.fire.structuresThreatened}}
      </p>

      <h6 class="additional-details__body__heading">STRUCTURES DESTROYED</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.fire.structuresDestroyed}}
      </p>

      <h6 class="additional-details__body__heading">INJURIES</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.fire.injuries}}
      </p>

      {{#if model.fire.roadClosures}}
        <h6 id="additional-details__road-closures" class="additional-details__body__heading">ROAD CLOSURES</h6>
        <p class="additional-details__body__paragraph">
          {{or-not-any model.fire.roadClosures}}
        </p>
      {{/if}}

      <h6 id="additional-details__evacuations" class="additional-details__body__heading">EVACUATIONS</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.fire.evacuations}}
      </p>

      <h6 class="additional-details__body__heading">CURRENT SITUATION</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.fire.currentSitutation}}
      </p>

      <h6 class="additional-details__body__heading">SCHOOL CLOSURES</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.fire.schoolClosures}}
      </p>

      <h6 class="additional-details__body__heading">COOPERATING AGENCIES</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.fire.cooperatingAgencies}}
      </p>

      <h6 class="additional-details__body__heading">CONDITIONS</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.fire.conditions}}
      </p>

      <h6 class="additional-details__body__heading">PHONE NUMBERS</h6>
      <p class="additional-details__body__paragraph">
        {{#each model.fire.phoneNumbers as |contact|}}
          <p>{{contact.title}}</p>
          <p>{{contact.number}}</p>
          <br />
        {{else}}
          n/a
        {{/each}}
      </p>

    </div>
  </div>

</main>

{{footer-component id="l-footer"}}

