{{masthead-component id="l-masthead" hasBorder=true}}
{{notification-component active=model.isOutdated}}
<main id="l-fire">
  {{fire-header id="l-fire__header" fire=model}}
  <div id="l-fire__primary-content">
    {{share-icons id="l-fire__primary-content__share-icons"}}

    <div id="l-fire__map-with-description" class="map-with-description">

      {{#fire-map lat=model.lat lng=model.long zoom=14 id="l-fire__primary-content__map" loop=true autoplay=true}}
        {{tile-layer url=tilesEndpoint reuseTiles=true detectRetina=true attribution="© <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> <strong><a href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map</a></strong>"}}
        {{#if model.perimeter}}
          {{#time-series geoJSON=model.perimeter fill=true color='#F87E21' fillColor='#FF6B00' weight=0 fillOpacity=1 transitionDuration=2000}}
            {{#if model.shouldPlaybackPerimeter}}
              {{time-series-control}}
            {{/if}}
          {{/time-series}}
        {{/if}}
        {{#marker-layer location=model.latLong icon=model.markerIcon}}
          {{#popup-layer}}
            <h3>{{model.name}}</h3>
          {{/popup-layer}}
        {{/marker-layer}}
      {{/fire-map}}
      
      <div id="l-fire__description" class="fire-description">
        {{model.computedDescription}}
      </div>
    </div>

    <hr class="l-fire__hr h-rule" />

    <div id="l-fire__primary-content__important-facts" class="important-facts">
      <h4 class="important-facts__heading">I WANT TO KNOW</h4>
      <div class="important-facts__item">
        <h4 class="important-facts__item__heading">
          Do people near this fire need to evacuate?
        </h4>
        <div class="important-facts__item__status">
          {{#if model.evacuations}}
            <div class="important-facts__item__status__yes important-facts__item__status__boolean"><span>YES</span></div>
            <div class="important-facts__item__status__description">
              Evacuation orders have been issued. <a class="important-facts__item__link" href="#">Learn more</a>
            </div>
          {{else}}
            <div class="important-facts__item__status__no important-facts__item__status__boolean"><span>NO</span></div>
            <div class="important-facts__item__status__description">
              Evacuation orders have not been issued.
            </div>
          {{/if}}
        </div>
      </div>

      <div class="important-facts__item">
        <h4 class="important-facts__item__heading">
          Have any road closures been announced?
        </h4>
        <div class="important-facts__item__status">
          {{#if model.roadClosures}}
            <div class="important-facts__item__status__yes important-facts__item__status__boolean"><span>YES</span></div>
            <div class="important-facts__item__status__description">
              Nearby roads have been closed. <a class="important-facts__item__link" href="#">Learn more</a>
            </div>
          {{else}}
            <div class="important-facts__item__status__no important-facts__item__status__boolean"><span>NO</span></div>
            <div class="important-facts__item__status__description">
              No nearby roads are closed at this time.
            </div>
          {{/if}}
        </div>
      </div>

      {{air-quality-aside airQuality=model.airQuality}}

    </div>
  </div>

  <hr class="l-fire__hr h-rule" />

  <div id="l-fire__i-have-questions" class="i-have-questions">
    <h4 class="i-have-questions__heading">I HAVE QUESTIONS</h4>
    <ul class="i-have-questions__links">
      <li class="i-have-questions__links__link">
        <a href="#" class="i-have-qestions__links__anchor">What can I do to prepare for wildfire season?</a>
      </li>
      <li class="i-have-questions__links__link">
        <a href="#" class="i-have-qestions__links__anchor">The air is brown with wildfire smoke – should I wear a mask?</a>
      </li>
      <li class="i-have-questions__links__link">
        <a href="#" class="i-have-qestions__links__anchor">How can I protect my pets?</a>
      </li>
      <li class="i-have-questions__links__link">
        <a href="#" class="i-have-qestions__links__anchor">How can I check the air quality?</a>
      </li>
      <li class="i-have-questions__links__link">
        <a href="#" class="i-have-qestions__links__anchor">What should I do to keep myself safe from wildfire smoke?</a>
      </li>
      <li class="i-have-questions__links__link">
        <a href="#" class="i-have-qestions__links__anchor">What kind of things influence wildfire behavior?</a>
      </li>
      <li class="i-have-questions__links__link">
        <a href="#" class="i-have-qestions__links__anchor">I’ve just been asked to evacuate – what should I do?</a>
      </li>
    </ul>
  </div>

  {{#if model.tweets}}

    <div class="pointy-hat pointy-hat--right t-dark"></div>
    {{tweets-slider id='l-fire__tweets' tweets=model.latestTweets}}

  {{/if}}


  <div id="l-fire__additional-details" class="additional-details">
    <div class="additional-details__body">
      <h4 class="additional-details__heading">Additional Details</h4>

      <h6 class="additional-details__body__heading">DATA SOURCE</h6>
      <p class="additional-details__body__paragraph">CalFire</p>

      <h6 class="additional-details__body__heading">ADMINISTRATIVE UNIT</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.administrativeUnit}}
      </p>

      <h6 class="additional-details__body__heading">CAUSE</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.cause 'Unknown'}}
      </p>

      <h6 class="additional-details__body__heading">DAMAGE ASSESSMENT</h6>
      <p class="additional-details__body__paragraph">Damage assessment teams have updated the number of structures damaged or destroyed. These structures were damaged or destroyed during the early hours of the fire. Damage assessment teams, using new software technology, completed the assessment. The incident would like to commend the damage assessment efforts of the Santa Barbara County Office of Emergency Management with regard to their efficient and ongoing operations. 16 residences destroyed, 1 residence damaged. 30 outbuildings destroyed, 6 outbuildings damaged.</p>

      <h6 class="additional-details__body__heading">STRUCTURES THREATENED</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.structuresThreatened}}
      </p>

      <h6 class="additional-details__body__heading">STRUCTURES DESTROYED</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.structuresDestroyed}}
      </p>

      <h6 class="additional-details__body__heading">INJURIES</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.injuries}}
      </p>

      <h6 class="additional-details__body__heading">ROAD CLOSURES</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.roadClosures}}
      </p>

      <h6 class="additional-details__body__heading">CURRENT SITUATION</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.currentSitutation}}
      </p>

      <h6 class="additional-details__body__heading">SCHOOL CLOSURES</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.schoolClosures}}
      </p>

      <h6 class="additional-details__body__heading">COOPERATING AGENCIES</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.cooperatingAgencies}}
      </p>

      <h6 class="additional-details__body__heading">CONDITIONS</h6>
      <p class="additional-details__body__paragraph">
        {{or-not-any model.conditions}}
      </p>

      <h6 class="additional-details__body__heading">PHONE NUMBERS</h6>
      <p class="additional-details__body__paragraph">
        {{#each model.phoneNumbers as |contact|}}
          <p>{{contact.title}}</p>
          <p>{{contact.number}}</p>
          <br />
        {{else}}
          n/a
        {{/each}}
      </p>

      <h6 class="additional-details__body__heading">TRAINING</h6>
      <p class="additional-details__body__paragraph">n/a</p>

    </div>
  </div>

</main>

{{footer-component id="l-footer"}}

