{{masthead-component id="l-masthead"}}
<div id="l-home">

  {{home-search id="l-home__search" heading="Am I near a wildfire?" background="/images/backgrounds/home.png" placeholder="Enter a zipcode, city or fire name here"}}

  <main id="l-home__main" class="t-dark">
    <div id="l-home__main__content">

      {{featured-incidents id="l-home__featured-incidents" fires=model.settings.featuredFires}}

      <aside id="l-home__main__content__right-aside">
        {{season-stats id="l-home__season-stats"}}
        <aside class="l-home__resources-list list-aside">
          <h6 class="season-stats__heading">California fire resources</h6>
          <ul>
            <li>Cal Fire</li>
            <li>California Fire and Resource Assessment Program (FRAP)</li>
            <li>California Incident Information System</li>
            <li>Northern California Geographic Area Coordination Center (ONCC)</li>
            <li>L.A. Fire Department</li>
          </ul>
        </aside>
      </aside>

    </div>
  </main>

  <aside id="l-home__faq-list" class="faq-list">
    <h6 class="faq-list__heading">Fire FAQs</h6>
    <ul>
      <li class="faq-list__item">What can I do to prepare for wildfire season?</li>
      <li class="faq-list__item">How can I protect my pets?</li>
      <li class="faq-list__item">How can I check the air qality?</li>
      <li class="faq-list__item">What should I do to keep myself safe from wildfire smoke?</li>
      <li class="faq-list__item">The air is brown with wildfire smoke – should I wear a mask?</li>
      <li class="faq-list__item">What kind of things influence wildfire behavior?</li>
      <li class="faq-list__item">I’ve just been asked to evacuate – what should I do?</li>
    </ul>
  </aside>
  <aside class="l-home__resources-list list-aside l-home__resources-list-2">
    <h6 class="season-stats__heading">California fire resources</h6>
    <ul>
      <li>Cal Fire</li>
      <li>California Fire and Resource Assessment Program (FRAP)</li>
      <li>California Incident Information System</li>
      <li>Northern California Geographic Area Coordination Center (ONCC)</li>
      <li>L.A. Fire Department</li>
    </ul>
  </aside>
  
  <div id="l-home__recent-incidents" class="t-dark">
    <div id="l-home__recent-incidents__container">
      {{incidents-grid heading="Recent Fires" linkToArchive=true fires=model.archiveFires}}
    </div>
  </div>

</div>

{{footer-component id="l-footer"}}

